.application-note{
  position: fixed;
  left: 0;
  top:0;
  width: 100%;
  background: #f1f3f3;
  color: black;
  text-align: center;
  padding: 5px;
  word-spacing: 5px;
  font-size: 40px;
  letter-spacing: 2px;
  background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
}

.app-creator-name{
  font-weight: 700;
}

a:hover{
  text-decoration: none;
}