.button {
  width: 100%;
  border-radius: 20px;
  font-size: 30px;
  margin: auto;
  cursor: pointer;
  border: 4px solid #302f3a;
  color: #302f3a;
  position: relative;
  background-color: transparent;
}

button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: -0.6rem;
  top: -0.5rem;
  z-index: -1;
  border-radius: 15px;
  font-weight: bold;
  background: linear-gradient(90deg, #00c9ff 0%, #92fe9d 100%);
  transition: all 200ms ease-out;
}

button:hover:enabled::before {
  top: 0;
  left: 0;
}

.button:active:enabled {
  transform: translateY(2px);
}

button:disabled{
  opacity: .6;
}