.base {
  background: #f1f3f3;
  border: 1px solid #e7e9e9;
  width: 50%;
  height: 55%;
  border-radius: 2px;
  overflow: scroll;

  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);

  -webkit-box-shadow: 10px 10px 34px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 34px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 34px -8px rgba(0, 0, 0, 0.75);
}

@media only screen and (max-width: 1200px) {
  /* body {
    background-color: lightblue;
  } */

  .base {
    width: 90%;
    height: 35%;
  }
}
