.base {
  background: #f1f3f3;
  border: 1px solid #e7e9e9;
  width: 50%;
  height: 50%;
  /* margin: auto; */
  border-radius: 2px;


  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
