.base {
  background: #f1f3f3;
  border: 1px solid #e7e9e9;
  width: 50%;
  height: 55%;
  border-radius: 2px;
  overflow: scroll;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  -webkit-box-shadow: 10px 10px 34px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 34px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 34px -8px rgba(0, 0, 0, 0.75);
}

@media only screen and (max-width: 1200px) {
  .base {
    width: 90%;
    height: 45%;

    transform: translate(-50%, -100%);
  }
}

@media only screen and (max-width: 575px) {
  .base {
    height: 60%;
    transform: translate(-50%, -75%);

  }
}

@media only screen and (max-width: 500px) {
  .base {
    height: 60%;
    transform: translate(-50%, -75%);
  }
}

@media only screen and (max-width: 450px) {
  .base {
    -webkit-box-shadow: 0px 10px 37px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 37px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 37px -10px rgba(0, 0, 0, 0.75);
  }
}

@media only screen and (max-width: 400px) {
  .base {
    height: 50%;
  }
}

@media only screen and (max-width: 300px) {
  .base {
    height: 62%;
    transform: translate(-50%, -70%);

    -webkit-box-shadow: 0px 10px 24px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 24px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 24px -10px rgba(0, 0, 0, 0.75);
  }
}

@media only screen and (max-width: 250px) {
  .base {
    height: 55%;
  }
}
