.input {
  color: #000;
}

.palindrome-results-container{
  word-spacing: 5px;
  font-size: 20px;


}

.text-inputted-palindrome-check {
  border: 1px solid #adb2b2;
  padding: 5px;
  border-radius: 3px;
  letter-spacing: 1px;
}
